%h2= t("static_pages.about_header")
%ul.about-nav
  %li{ class: active_class(intro_path) }
    = link_to t("static_pages.intro.nav_title"), intro_path
  %li{ class: active_class(about_path) }
    = link_to t("static_pages.about.nav_title"), about_path
