- @page_title = "О сайте подробно"
= render "about_header"
%a#whatToRead
%h4.no-margin-top Что и&nbsp;как читать?
%p Читайте то, что интересно. То, что получается. Где смысл понятен, но&nbsp;встречаются отдельные незнакомые слова и&nbsp;фразы. Подчёркивайте&nbsp;их или копируйте в&nbsp;специально для этого выделенный документ. Это базис для выучивания новых слов.
%p При таком подходе получается, что вы&nbsp;учите те и&nbsp;только те&nbsp;слова, которые встречаются вам при чтении. Иначе зачем это всё нужно?

%a#dictionary
%h4 Каким словарём пользоваться?
%p Тем, который вам удобен. Например, ABBYY Lingvo. Во-первых, в&nbsp;нём есть как англо-русский, так&nbsp;и английский толковый словари. В&nbsp;толковом определения могут быть более точными, а&nbsp;в&nbsp;русском быстрее можно уловить суть. Во-вторых, электронный словарь намного быстрее, чем бумажный, позволяет найти нужное определение.

%a#everyDay
%h4 Почему лучше заниматься каждый день?
%p Тренировки, чтобы не&nbsp;потерять форму и&nbsp;чтобы сохранялся стимул, должны быть ежедневными. Если хотите учить иностранный язык (в&nbsp;этом случае, его лексику)&nbsp;&mdash; нужно поддерживать ритм, как в&nbsp;спорте.
%p Попробуйте за&nbsp;пять часов хорошо запомнить сто незнакомых слов. Сколько из&nbsp;них вы&nbsp;вспомните через месяц? Хорошо, если десятую часть.
%p Попробуйте каждое из&nbsp;этих ста слов повторить три-четыре-пять раз в течение месяца (то,&nbsp;что сайт и предлагает), потратив на&nbsp;них в&nbsp;сумме те&nbsp;же пять часов. Процентов&nbsp;80 будете помнить уверенно.

%a#leitner
%h4 Как слова запоминаются?
%p Мозг устроен так, что любая информация лучше всего усваивается, если повторять&nbsp;её через увеличивающиеся интервалы времени. Это принцип интервальных повторений, на&nbsp;котором основана система Лейтнера (вот #{link_to "первая", "http://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%B2%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5_%D0%BF%D0%BE%D0%B2%D1%82%D0%BE%D1%80%D0%B5%D0%BD%D0%B8%D1%8F"} и&nbsp;#{link_to "вторая", "http://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D0%9B%D0%B5%D0%B9%D1%82%D0%BD%D0%B5%D1%80%D0%B0"} статьи на&nbsp;Википедии).
%p Вы&nbsp;создаёте карточку, и&nbsp;через несколько дней (в&nbsp;первый раз &mdash; от&nbsp;1 до&nbsp;3&nbsp;дней) сайт предлагает её&nbsp;повторить. Если вы&nbsp;помните значение слова, то&nbsp;в&nbsp;следующий раз вы&nbsp;будете повторять его через <nobr>5&ndash;10</nobr>&nbsp;дней. Потом будет и&nbsp;третий раз, интервал до&nbsp;него&nbsp;&mdash; до&nbsp;месяца.
%p Каждый раз, если вы&nbsp;не&nbsp;угадали слово, оно снова будет выведено через <nobr>1&ndash;3</nobr> дня. Серия из&nbsp;трёх повторов начнётся сначала. Можете поверить: рано или поздно вы&nbsp;будете уверенно помнить всё, что вам нужно.

%a#howMany
%h4 Сколько слов учить в день?
%p Столько, на&nbsp;сколько хватает сил и времени.
%p Если будете создавать по&nbsp;10&nbsp;карточек в&nbsp;день, то повторять придётся по&nbsp;<nobr>30&ndash;40</nobr> в&nbsp;день (когда их&nbsp;наберётся достаточное количество). Это в&nbsp;сумме около получаса. Если по&nbsp;20&nbsp;карточек&nbsp;&mdash; умножайте время на&nbsp;два. И&nbsp;так далее.
%p Выбирайте такой темп, который сможете выдерживать. Всё равно всё выучите.
%p Поэтому сначала выставьте в&nbsp;#{link_to "настройках", settings_path} лимит поменьше. И&nbsp;потом наращивайте, покуда справляетесь.

%a#selfControl
%h4 Самоконтроль
%p Другие сайты предлагают разные системы тестирования и&nbsp;выставляют оценки. Такой метод отнимает довольно много времени, особенно если вы&nbsp;занимаетесь регулярно и&nbsp;планируете запомнить много слов.
%p Здесь всё проще: мы&nbsp;уверены, что вы&nbsp;сами можете при виде слова определить, помните вы&nbsp;его или нет. Можно даже подсматривать оборотную сторону карточки, чтобы убедиться, насколько хорошо вы&nbsp;её&nbsp;выучили. Это никак не&nbsp;повлияет на&nbsp;результат.
%p Отсутствие тестов система компенсирует, помогая балансировать нагрузку. Вам не&nbsp;нужно каждый день думать о&nbsp;том, какие слова учить. Те,&nbsp;что даются вам легко, вы&nbsp;увидите только три раза. А&nbsp;проблемные придётся повторять столько раз, сколько потребуется для запоминания.

%a#convenient
%h4 Удобно использовать
%p Удобно создавать новые карточки. В&nbsp;том&nbsp;числе и&nbsp;без&nbsp;помощи мыши.
%p Удобно повторять: как&nbsp;на&nbsp;стационарном компьютере, так&nbsp;и&nbsp;на&nbsp;планшете или&nbsp;телефоне.

%a#whatElse
%h4 Для чего ещё можно применять систему?
%p Учите языки. Английский, немецкий, французский, китайский, арабский.
%p Учите грамматические правила.
%p Учите любые системы и&nbsp;факты в&nbsp;своей профессии. Всё, что можно записать текстом.

%h4 Работа над&nbsp;сайтом продолжается. Последнее обновление&nbsp;&mdash; 11&nbsp;августа&nbsp;2013.