<% @flashcards_grouped_by_date.keys.sort.reverse.each do |date| %>

    <p class = "lead"><%= date %>:</p>

    <% @flashcards_grouped_by_date[date].reverse.each do |flashcard| %>
        <% added_class = flashcard.learned? ? " flashcard-learned" : "" %>
        <%= link_to flashcard.front_text, flashcard_path(flashcard), :class => "hero-unit flashcard" + added_class %>
    <% end %>

<% end %>
