<% @page_title = "Карточка" %>

<div class = "hero-unit flashcard"><%= @flashcard.front_text %><hr /><%= @flashcard.back_text %></div>
<%= link_to "Редактировать", edit_flashcard_path(@flashcard) %>
<%= link_to "Удалить", @flashcard, :confirm => "Вы уверены?", :method => :delete %>
