<form name="flashcardForm" class="flashcard-form" ng-submit="flSubmit()">
  <div class="flashcard-side-form-group">
    <label for="flashcard-front-text">{{ 'flashcards.frontText' | translate }}:</label>
    <textarea class="form-control" id="flashcard-front-text" required rows="6" ng-model="flObject.frontText"></textarea>
  </div>
  <div class="flashcard-side-form-group">
    <label for="flashcard-back-text">{{ 'flashcards.backText' | translate }}:</label>
    <textarea class="form-control" id="flashcard-back-text" required rows="6" ng-model="flObject.backText"></textarea>
  </div>
  <input type="submit" class="{{flSubmitClass}}" value="{{flSubmitText}}" ng-disabled="!flashcardForm.$valid">
</form>
