<div class="menu">
  <div class="navbar-header">
    <div class="logged-in-primary-menu">
      <a ng-href="{{linkRoot}}" class="active" ng-if="isSignedIn">
        <span>{{ 'nav.create' | translate }}</span>
        <span>
          <small>
            <span>2</span>
            <span>{{ 'nav.of' | translate }}</span>
            <span>{{ currentUser.dailyLimit }}</span>
          </small>
        </span>
      </a>
    </div>
  </div>
  <div class="collapsing-menu">
    <ul class="logged-in-secondary-menu user-dropdown-menu">
      <li>
        <a href ng-click="signOut()" ng-if="isSignedIn">{{ 'nav.logout' | translate }}</a>
      </li>
    </ul>
  </div>
</div>
