<div class="menu">
  <div class="navbar-header">
    <button class="logged-in-menu-navbar-toggle" ng-click="toggleDropdown()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="logged-in-primary-menu" ng-if="isSignedIn">
      <a ng-href="{{linkRoot + routes.newFlashcardPath}}" ng-class="{active: pathIs(routes.newFlashcardPath)}">
        <span>{{ 'nav.create' | translate }}</span>
        <span>
          <small>
            <span>{{ currentUser.createdToday }}</span>
            <span>{{ 'nav.of' | translate }}</span>
            <span>{{ currentUser.dailyLimit }}</span>
          </small>
        </span>
      </a>
      <a ng-href="{{linkRoot + routes.repetitionsPath}}" ng-class="{active: pathIs(routes.repetitionsPath)}">
        <span>{{ 'nav.repeat' | translate }}</span>
        <span>
          <small>
            <span>{{ currentUser.runToday }}</span>
            <span>{{ 'nav.of' | translate }}</span>
            <span>{{ currentUser.plannedForToday }}</span>
          </small>
        </span>
      </a>
    </div>
  </div>
  <div class="collapse navbar-collapse" collapse="status.collapsingMenuCollapsed">
    <ul class="guest-secondary-menu" ng-if="!isSignedIn">
      <li>
        <a ng-href="{{linkRoot + routes.rootPath}}?scrollTo=login-form-anchor">
          {{ 'nav.login' | translate }}
        </a>
      </li>
    </ul>
    <ul class="logged-in-secondary-menu user-menu-no-dropdown" ng-if="isSignedIn">
      <li ng-class="{active: pathIs(routes.flashcardsPath)}">
        <a ng-href="{{linkRoot + routes.flashcardsPath}}" wh-collapse-when-clicked>
          {{ 'nav.allFlashcards' | translate }}
        </a>
      </li>
      <li>
        <a href ng-click="signOut()" wh-collapse-when-clicked>{{ 'nav.logout' | translate }}</a>
      </li>
    </ul>
    <ul class="logged-in-secondary-menu user-dropdown-menu" ng-if="isSignedIn">
      <li ng-class="{active: pathIs(routes.flashcardsPath)}">
        <a ng-href="{{linkRoot + routes.flashcardsPath}}">
          {{ 'nav.allFlashcards' | translate }}
        </a>
      </li>
      <li>
        <a href ng-click="signOut()">{{ 'nav.logout' | translate }}</a>
      </li>
    </ul>
  </div>
</div>
