<form name="flashcardsIndex.searchForm" class="flashcard-search-form" ng-submit="flashcardsIndex.search()">
  <div class="input-group">
    <input type="search" name="search" class="form-control" ng-model="flashcardsIndex.searchString">
    <span class="input-group-btn">
      <button class="btn btn-primary">
        {{ 'flashcards.index.search' | translate }}
      </button>
    </span>
  </div>
  <span class="help-block" ng-if="flashcardsIndex.submittedSearchString">
    {{ 'flashcards.index.filtered' | translate }}
    «{{ flashcardsIndex.submittedSearchString }}»
    (<a href ng-click="flashcardsIndex.clearSearch()">{{ 'flashcards.index.showAll' | translate }}</a>)
  </span>
</form>

<div ng-repeat="flashcard in flashcardsIndex.flashcards">
  <a id="{{flashcard.id}}"></a>
  <a class="flashcard" ng-href="{{linkRoot + flashcardsIndex.routes.editFlashcardPath(flashcard.id)}}"><span>{{flashcard.frontText}}</span><hr/><span>{{flashcard.backText}}</span></a>
</div>
