$before-breakpoint700: 767px;
$after-breakpoint700: $before-breakpoint700 + 1px;

$before-breakpoint900: 979px;
$after-breakpoint900: $before-breakpoint900 + 1px;

$before-breakpoint1200: 1199px;

$margin-standard: 20px;

$gray-lighter: #f5f5f5;
$universal-green: #468847;
$universal-green-shadow: #f0fff1;