@import "constants";

/* Карточка. */

.flashcard {
  display: block;
  text-decoration: none;
  min-height: 120px;
  margin-bottom: $margin-standard;
  margin-top: $margin-standard;
  white-space: pre;
  white-space: pre-wrap;
  &:hover {
    text-decoration: none;
  }
  @media (max-width: $before-breakpoint700) {
    padding: 15px 22px;
    font-size: 14px;
    line-height: 23px;
    font-weight: normal;
    min-height: 100px;
  }
}

.flashcard-hidden {
  display: none;
}

.flashcard-learned {
  color: $universal-green;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.responses {
  background-color: $gray-lighter;
  border-bottom: 20px solid white;
  .form-actions {
    margin: 0;
    border-top: none;
    @media (max-width: $before-breakpoint700) {
      padding: 10px;
    }
  }
}

/* Ссылка на удаление в форме редактирования карточки. */

.destroy-link-div {
  @media (min-width: $after-breakpoint700) {
    /* Чтобы на большом разрешении
     * ссылка удаления была справа от кнопки сохранения.
     */
    position: relative;
    top: -55px;
  }
  .destroy {
    line-height: 30px;
  }
}

/* Блок для восстановления удалённых карточек. */
.deleted-today-oneline {
  display: none;
  margin: 20px 0;

  a {
    color: gray;
    background-color: white;
    padding: 10px;
    border-radius: 4px;

    &.just-deleted {
      color: white;
      background-color: $universal-green;
    }
  }
}
