/* Карточка. */

.flashcard {
  @extend .jumbotron;
  display: block;
  padding: 30px !important;
  font-size: 18px !important;
  text-decoration: none;
  min-height: 120px;
  margin-bottom: $margin-standard;
  margin-top: $margin-standard;
  white-space: pre;
  white-space: pre-wrap;
  &:hover {
    text-decoration: none;
  }
  @media (max-width: $before-breakpoint700) {
    padding: 15px 22px;
    font-size: 14px;
    line-height: 23px;
    font-weight: normal;
    min-height: 100px;
  }
  &.learned {
    color: $universal-green;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  hr {
    border-top: 1px solid white;
  }
}

.responses {
  background-color: $gray-lighter;
  border-bottom: 20px solid white;
  .dont-remember, .remember {
    padding: 20px;
    @media (max-width: $before-breakpoint700) {
      padding: 10px;
    }
    input[type="submit"] {
      @extend .btn-link;
    }
  }
  .dont-remember {
    float: left;
  }
  .remember {
    float: right;
  }
}

.flashcard-form {
  input[type="submit"] {
    @extend .btn;
    @extend .btn-default;
  }
  .new-submit {
    @extend .btn-block;
  }
  .edit-submit {
    @extend .col-md-10;
    @media(max-width: $before-column-breakpoint900) {
      width: 100%;
    }
  }
}

.flashcard-destroy-link-wrapper {
  @extend .col-md-2;
  position: relative;
  @media(max-width: $before-column-breakpoint900) {
    margin-top: 20px;
  }
}

.flashcard-destroy-link {
  @extend .btn, .btn-link, .pull-right;
  width: 100%;
}

/* Блок для восстановления удалённых карточек. */
.deleted-today-oneline {
  display: none;
  margin: 20px 0;

  a {
    color: gray;
    background-color: white;
    padding: 10px;
    border-radius: 4px;

    &.just-deleted {
      color: white;
      background-color: $universal-green;
    }
  }
}

.flashcard-side-form-group {
  @extend .form-group;
}

.btn-undelete {
  @extend .btn, .btn-default, .btn-primary;
}

.flashcard-search-form {
  @extend .col-md-4, .pull-right;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
}
