/* Значение выбрано экспериментальным путём,
 * чтобы ни при каких условиях вёрстка
 * (при наличии JS, которое нужно для нормального отображения меню)
 * не ехала.
 */
body {
  min-width: 270px;
}

.no-js .no-js-hide {
  display: none;
}

/* Сообщение об ошибке. */

.alert ul {
  margin-bottom: 0;
}
