/* Значение выбрано экспериментальным путём,
 * чтобы ни при каких условиях вёрстка
 * не ехала.
 */
body {
  min-width: 270px;
}

/* Сообщение об ошибке. */

.alert ul {
  margin-bottom: 0;
}

h4 {
  margin-top: 40px;

  &.first-header {
    margin-top: 0px;
  }
}

ol li {
  margin-bottom: 10px;
}
