.menu {
  @extend .navbar, .navbar-default;
}

.primary-menu {
}

.secondary-menu {
  @extend .nav, .navbar-nav, .pull-right;
}

.menu-brand {
  @extend .navbar-brand;
}

.guest-secondary-menu {
  @extend .secondary-menu;
}

.logged-in-primary-menu {
  @extend .primary-menu;
  & > a {
    @extend .navbar-brand;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    span {
      display: block;
    }
    small span {
      display: inline;
    }
    &.to-do {
      color: $universal-green;
      text-shadow: 0 1px 0 $universal-green-shadow;
      font-weight: bold;
    }
    &.inactive {
      color: #999999;
    }
    &.active, &.active:hover {
      background-color: $navbar-default-link-active-bg;
    }
  }
}

.logged-in-secondary-menu {
  @extend .secondary-menu;
  & > li > a {
    @media (max-width: $before-breakpoint700) {
      padding-top: 9px !important;
      padding-bottom: 9px !important;
    }
    @media (min-width: $after-breakpoint700) {
      padding-top: 20px !important;
      padding-bottom: 21px !important;
    }
  }
}

.logged-in-dropdown-menu {
  @extend .dropdown-menu;
}

/* "Толстое" верхнее меню. Из-за того, что оно стало двухстрочным,
 * стандартные стили Bootstrap'а поехали.
 */

.navbar-toggle {
  margin-top: 13px;
}

/* Это стили для меню. Решены две задачи.
 * 1. При отсутствии Яваскрипта
 *    всегда отображается единое меню, без дропдаунов.
 * 2. Если Яваскрипт работает, то на меньших разрешениях
 *    (где всё меню схлопывается до одной кнопки)
 *    оно становится линейным, без дополнительного дропдауна
 *    с именем пользователя.
 * Сейчас без Яваскрипта и на маленьких разрешениях
 * нельзя увидеть имя пользователя. Эту проблему предстоит решить.
 */

@media (max-width: $before-breakpoint700) {
  .user-dropdown-menu {
    display: none;
  }
}

.user-menu-no-dropdown {
  display: none !important;
  @media (max-width: $before-breakpoint700) {
    display: block !important;
  }
}

@media (max-width: $before-breakpoint700) {
  .navbar {
    .navbar-brand {
      padding-left: 15px;
    }
  
    .navbar-nav {
      margin-right: 0px;
    }
  }   
}
