.homepage-header {
  @extend .row;
}

.homepage-main {
  @extend .col-md-9;
  @extend .jumbotron;
}

.homepage-login-form {
  @extend .col-md-3;
  .email, .password {
    @extend .form-group;
  }
  input[type="email"],
  input[type="password"] {
    @extend .form-control;
  }
  input[type="submit"] {
    @extend .btn;
    @extend .btn-default;
  }
  .register-link {
    @extend .btn;
    @extend .btn-link;
    @extend .pull-right;
  }
}

.homepage-info {
  @extend .row;
}

.homepage-info-column {
  @extend .col-md-4;
}

/* Чтобы кнопка на странице настроек
 * была с таким же margin-ом сверху, как и заголовки.
 */

.btn-save-settings {
  margin-top: 30px;
}

.jumbotron {
  padding: 30px;
}

@media (max-width: $before-breakpoint700) {
  .jumbotron {
    padding: 15px 22px;
    font-size: 14px;
    line-height: 23px;
    font-weight: normal;

    h2 {
      font-size: 17.5px;
      line-height: 28px;
      margin-top: 0;
    }
  }
}
