.homepage-header {
  @extend .row-fluid;
}

.homepage-main {
  @extend .span9;
  @extend [class*="span"];
  @extend .hero-unit;
}

.homepage-login-form {
  @extend .span3;
  @extend [class*="span"];
  input[type="email"],
  input[type="password"] {
    @media (min-width: $after-breakpoint700) and (max-width: $before-breakpoint900) {
      width: 152px;
    }
  }
  a {
    @extend .btn;
    @extend .btn-link;
    @media (min-width: $after-breakpoint700) and (max-width: $before-breakpoint1200) {
      padding-left: 0;
      margin-top: 10px;
    }
  }
}

.homepage-info {
  @extend .row-fluid;
}

.homepage-info-column {
  @extend .span4;
  @extend [class*="span"];
}

/* Чтобы кнопка на странице настроек
 * была с таким же margin-ом сверху, как и заголовки.
 */

.btn-save-settings {
  margin-top: 30px;
}

.hero-unit {
  padding: 30px;
}

@media (max-width: $before-breakpoint700) {
  .hero-unit {
    padding: 15px 22px;
    font-size: 14px;
    line-height: 23px;
    font-weight: normal;

    h2 {
      font-size: 17.5px;
      line-height: 28px;
      margin-top: 0;
    }
  }
}
