.row
  .span9
    .hero-unit
      %h2 Простой способ учить иностранные слова
      %p Как бумажные карточки, только удобнее.
  .span3
    %a#login
    = render "login_form"
.row
  .span4
    %h4 Кому нужен этот сайт
    %p Если вы:
    %ul
      %li читаете на&nbsp;английском (или любом другом иностранном) языке,
      %li знаете язык неидеально и понимаете не&nbsp;100% текста,
      %li но&nbsp;не&nbsp;знаете, как расширить свой словарный запас,
    %p то&nbsp;выучивайте по&nbsp;несколько новых слов в&nbsp;день. Сайт в&nbsp;этом поможет.
  .span4
    %h4 Что здесь происходит
    %p Вы&nbsp;просто создаёте карточки со&nbsp;словами и&nbsp;их&nbsp;определениями.
    %p И&nbsp;потом повторяете&nbsp;их. Сайт выдаёт нужные карточки для повторения, делая упор на&nbsp;словах, которые вы хуже запоминаете.
    %p На&nbsp;сайте нет встроенных словарей, зато его легко использовать так, как вам удобно: создавать карточки на&nbsp;любых языках или учить не&nbsp;слова, а важные для вас факты (например, по&nbsp;учёбе или работе).
    %p Лучший эффект достигается, если заниматься регулярно: каждый день создавать новые карточки и&nbsp;каждый день повторять. Например, если создавать по&nbsp;30&nbsp;новых карточек в&nbsp;день (не&nbsp;так много), за&nbsp;год можно запомнить около 10&nbsp;тысяч новых слов (а&nbsp;30&nbsp;тысяч&nbsp;&mdash; это уже близко к уровню носителей языка).
  .span4
    %h4 Почему удобно заниматься в&nbsp;интернете
    %p То же самое можно делать с&nbsp;бумажными карточками. Но&nbsp;у&nbsp;занятий на&nbsp;сайте много преимуществ:
    %ul
      %li Быстрее. Можно переносить слова и&nbsp;выражения с&nbsp;других веб-страниц. А&nbsp;тем, кто владеет десятипальцевым методом&nbsp;&mdash; совсем легко.
      %li Надёжнее и доступнее. Ваши карточки с&nbsp;вами везде, где есть интернет. И&nbsp;никуда не&nbsp;потеряются.
      %li Понятнее. Не&nbsp;нужно придумывать систему повторений: вы&nbsp;чаще видите те&nbsp;слова, которые вам труднее даются.
      %li Дешевле. Использование сайта абсолютно бесплатно. Вам даже на&nbsp;бумагу не&nbsp;придётся тратиться :).
%h4 Вы&nbsp;можете #{link_to "узнать о сайте больше", about_path} или #{link_to "зарегистрироваться", signup_path}.